[Unit]
Description=JIRA Service
After=network.target iptables.service firewalld.service firewalld.service httpd.service

[Service]
Type=forking
User=jira1
Environment=JRE_HOME=/opt/atlassian/jira/jre
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh
ExecReload=/opt/atlassian/jira/bin/stop-jira.sh | sleep 20 | /opt/atlassian/jira/bin/start-jira.sh

[Install]

WantedBy=multi-user.target
